/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Tenor+Sans&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-attachment: scroll;
    /* Generic project styles */
    color: #bfb6aa;
}

/* Header banner */
header {
    background-color: #222426;
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    width: 100%;
    text-align: center;
    height: auto;
}

header a {
    text-decoration: none;
}

/* Main title */
h1 {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    color: #bfb6aa;
    letter-spacing: 2.5px;
    padding: 0.5em 1em;
    font-size: 110%;
}

/* Line break in header */
.header-break {
    border: 1px solid #bfb6aa;
}

/* Header motto-phrase */
.header-phrase {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    color: #bfb6aa;
    padding: 0.5rem;
    font-size: 80%;
    text-align: end;
}

.toggle {
    display: none;
}

.menu-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    margin-top: 3em;
}

.top-nav-menu {
    top: 100%;
    display: none;
    text-align: left;
    left: 0;
    background-color: #222426;
    width: 100%;
}

.menu {
    list-style: none;
    letter-spacing: 2px;
}

.menu-color {
    margin-left: 1em;
    margin-bottom: 1em;
    color: #bfb6aa;
    font-size: 80%;
}

.menu li {
    padding-bottom: .5em;
}

.active {
    border-bottom: 1px solid #bfb6aa;
}

.toggle:checked~.top-nav-menu {
    display: block;
}

/* Main Content */

/* About page */
.fireworks-img {
    width: 100%;
    order: 0;
}

.fireworks-img img {
    display: flex;
    width: 100%;
}

/* About Us Block */
.about-us {
    padding: 1em 1.5em;
    border-bottom: 2px solid #222426;
    background-color: #a68f7b;
    color: #222426;
    order: 1;
}

.about-us div {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-2 {
    padding: .5em;
}

/* Photo Types Block */
.photo-types {
    background-color: #a68f7b;
    color: #222426;
    border-bottom: 2px solid #222426;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    order: 2;
}

.photo-types-container {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
}

.photo-types-container h2 {
    padding-bottom: .5em;
    text-align: center;
}

.photo-types-phrase {
    padding: .5em;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.photo-types-list {
    padding: 1em;
}

/* Testimonials block */
.testimonials {
    background-color: #a68f7b;
    color: #222426;
    border-bottom: 2px solid #222426;
    display: flex;
    flex-direction: column;
}

/* Testimonials title */
.testimonials-container {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    text-align: center;
    padding: 1em 1em 0;
}

/* Testimonials Content */
.quote-container {
    text-align: center;
    padding: 1em;
    border-bottom: 2px solid #222426;
}

.quotes {
    padding: 1em;
}

.quotes div {
    border: 1px ridge #e2dbd3;
    border-radius: 30px;
    padding: .75em;
}

.quote-3 {
    padding-top: .5em;
}

/* Google Map */
.google-map {
    padding: .5em;
}

.google-map iframe {
    width: 100%;
}

/* Gallery page */
.gallery {
    width: 100%;
    background-color: #222426;

}

.photos {
    display: flex;
    flex-direction: column;
}

.photos img {
    padding: 1em;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #a68f7b;
    margin: .5em;
}

/* Contact page */
.contact-page {
    background-color: #a68f7b;

}

.contact-page-phrase {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    width: 100%;
    height: 3em;
    background-color: #a68f7b;
    color: #222426;
    padding: 1em;
    font-size: 85%;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.contact-image {
    width: 100%;
    height: 20%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
}

.contact-image img {
    box-shadow: 4px 4px 10px black;
}

.contact-us-form-container {
    width: 100%;
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222426;
}

.contact-us-form-container h1 {
    color: #222426;
    padding-top: 2px;
    padding: 1em;
    text-align: center;
}

.contact-us-form-container p {
    color: #222426;
    text-align: center;

}

.contact-us-form {
    width: 100%;
    padding: 1em 1.25em .25em;
    font-size: 85%;
}

.text-input {
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.choose-session {
    color: #222426;
    text-align: center;
    padding: 1em;
}

.radio-container {
    display: flex;
    flex-direction: column;
}

.radio-button {
    display: flex;
    padding: .25em;
}

.get-in-touch {
    margin: .75em 1.5em;
    padding: .75em;
    border: 1.5px solid #222426;
    border-style: double;
    background-color: #e2dbd3;
    color: #222426;
    font-size: medium;
    box-shadow: 2px 2px 2px #222426;
}

/* Footer */
.footer-container {
    background-color: #222426;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 5vh;
    padding-top: .25em;

}

.social-media-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;

}

.social-media-links li {
    padding: 2px 6px;
}

.footer-icon-color {
    color: #bfb6aa;
}


/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        height: auto;
        padding-bottom: .5em;
    }

    h1 {
        letter-spacing: 2.5px;
        padding: 0.5em 5em;
        font-size: revert;
    }

    .header-phrase {
        font-size: large;
        letter-spacing: 1.5px;
    }

    .top-nav-menu {
        display: block;
        font-size: larger;
    }

    .menu {
        display: flex;
    }

    .menu-button {
        display: none;
    }

    /* Main Content */

    /* About Page */
    .fireworks-img img {
        padding: 1em 10em;
        margin: auto;
        background: rgb(18, 3, 3);
        background: radial-gradient(circle, rgba(18, 3, 3, 1) 66%, rgba(61, 12, 12, 1) 100%);
    }

    .about-us div {
        font-size: x-large;
    }

    .photo-types-container {
        font-size: x-large;
    }

    .testimonials {
        font-size: larger;
    }

    .quotes {
        column-count: 2;
    }

    /* Gallery page */
    .gallery {
        column-count: 2;
        column-gap: 0;
    }

    .photos img {
        padding-top: 1em;
        margin: 1em;
    }

    /* Contact page */
    .contact-page-phrase {
        text-align: center;
        padding: 1em;
        font-size: x-large;
        justify-content: center;
    }

    .contact-image {
        padding: .5em 3em;
    }

    .contact-us-form-container h1 {
        font-size: x-large;
        padding: 1.5em;
    }

    .contact-us-form-container p {
        font-size: larger;
    }

    .contact-us-form {
        padding: 1em 2em;
        font-size: 110%;
    }

    .choose-session {
        font-size: larger;
    }

    .text-input {
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
        padding-left: 6em;
        padding-right: 6em;
    }

    .radio-container {
        font-size: x-large;
    }

    .sign-up {
        font-size: larger;
        padding: 1em;
    }

    .get-in-touch {
        font-size: larger;
    }

    /* Footer */
    .footer-container {
        height: 5vh;
        padding: .5em;
        font-size: x-large;
    }
}

/* Media query tablets and larger (1200px and wider */
@media screen and (min-width: 1200px) {

    /* Main Content */

    /* About Page */

    .fireworks-img {
        background: #222426;
    }

    .fireworks-img img {
        width: 50%;
        margin: auto;
        max-height: inherit;
        background: rgb(18, 3, 3);
        background: radial-gradient(circle, rgba(18, 3, 3, 1) 66%, rgba(61, 12, 12, 1) 100%);
    }

    .fireworks-img {
        background: rgb(18, 3, 3);
        background: radial-gradient(circle, rgba(18, 3, 3, 1) 66%, rgba(61, 12, 12, 1) 100%);
    }

    .box-1 {
        width: 20%;
    }

    .box-2 {
        width: 50%;
        padding: .75em 0;
    }

    .box-3 {
        width: 20%;
    }

    .testimonials {
        font-size: larger;
    }

    .quotes {
        column-count: 2;
    }

    /* Gallery Page */
    .gallery {
        column-count: 3;
        column-gap: 0;
        padding: 2em;
    }

    .photos img {
        padding: 2em;
    }

    /* Contact Page */
    .contact-image {
        padding: 1em 6em;
        width: 70%;
        height: 50%;
        margin: auto;
    }

    .contact-us-form {
        padding: 2em 17em;
    }

    .text-input {
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
        padding-left: 12em;
        padding-right: 12em;
    }

    /* Footer */
    .footer-container {
        height: 7vh;
        padding: .5em;
        font-size: x-large;
    }

}