/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Tenor+Sans&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-attachment: scroll;
    /* Generic project styles */
    color: #bfb6aa;
}

/* Header banner */
header {
    background-color: #222426;
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    width: 100%;
    height: 15vh;
    z-index: 99;
    text-align: center;
}

header a {
    text-decoration: none;
}

/* Main title */
h1 {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    color: #bfb6aa;
    letter-spacing: 2.5px;
    padding: 0.5em 1em;
    text-align: left;
    font-size: 110%;
    text-wrap: wrap;
}

/* Header motto-phrase */
header div {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    color: #bfb6aa;
    padding: 0.3rem;
    font-size: 80%;
    letter-spacing: 1.5px;
}

/* Navigation menu */
.menu {
    list-style-type: none;
    display: flex;
    margin: auto;
    justify-content: center;
    letter-spacing: 2px;
}

.menu>li {
    font-size: 75%;
    padding: 0 0.5em;
}

.active {
    border-bottom: 1px solid #bfb6aa;
}

.menu-color {
    color: #bfb6aa;
}

/* Menu bar */
.top-nav-menu {
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: space-between;
    padding-right: 1rem;
}

.toggle {
    display: none;
}

.menu-button-container {
    display: none;
    flex-direction: column;
    justify-content: right;
}

/* Hamburger menu */
.menu-button-container {
    height: 10%;
    width: 10%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: right;
}

.toggle {
    display: none;
}

/* Main Content */

/* About page */
.fireworks-img {
    width: 100%;
}

.fireworks-img img {
    display: flex;
    width: 100%;
}

/* About Us Block */
.about-us {
    padding: 1em 1.5em;
    border-bottom: 2px solid #222426;
    background-color: #a68f7b;
    color: #222426;
}

.about-us div {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us p {
    display: flex;
    flex-wrap: wrap;
    padding: .75em 0;
}

/* Photo Types Block */
.photo-types {
    background-color: #a68f7b;
    color: #222426;
    border-bottom: 2px solid #222426;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
}

.photo-types-container {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
}

.photo-types-container h2 {
    padding-bottom: .5em;
    text-align: center;
}

.photo-types-phrase {
    padding: .5em;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: balance;
    text-align: center;
}

.photo-types-list {
    padding: 1em;
}

/* Testimonials block */
.testimonials {
    background-color: #a68f7b;
    color: #222426;
    border-bottom: 2px solid #222426;
    display: flex;
    flex-direction: column;
}

/* Testimonials title */
.testimonials-container {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    text-align: center;
    padding: 1em 1em 0;
}

/* Testimonials Content */
.carousel-container {
    display: flex;
    flex-direction: row;
    overscroll-behavior: auto;
    scroll-snap-type: x;
    scroll-behavior: smooth;
    padding: .5em;
    width: 10em;
    overflow: hidden;
    text-align: center;
}

/* Testimonials Carousel
.slides {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slides div {
    background-color: #bfb6aa;
    color: #222426;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 20em;
    height: 20em;
}
*/

/* Gallery page */
.gallery {
    width: 100%;
    background-color: #222426;
}

.photos {
    display: flex;
    flex-direction: column;
}

/* Contact page */
.contact-page {
    background-color: #a68f7b;

}

.contact-page-phrase {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    width: 100%;
    height: 3em;
    background-color: #a68f7b;
    color: #222426;
    padding: 1em;
    font-size: 85%;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.contact-image {
    width: 100%;
    height: 20%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
}

.contact-us-form-container {
    width: 100%;
    min-height: 80vh;
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222426;
}

.contact-us-form-container h1 {
    color: #222426;
    padding-top: 2px;
    padding: 1em;
    text-align: center;
}

.contact-us-form-container p {
    color: #222426;
    text-align: center;

}

.contact-us-form {
    width: 100%;
    padding: 1em 3.5em;
    text-align: end;
}

.radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-in-touch {
    margin: 1.5em;
    padding: .25em;
    border: 1.5px solid #222426;
    background-color: #bfb6aa;
    color: #222426;
}

/* Footer */
.footer-container {
    background-color: #222426;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 5vh;
    padding-top: .25em;

}

.social-media-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;

}

.social-media-links li {
    padding: 2px 6px;
}

.footer-icon-color {
    color: #bfb6aa;
}

/* Media query for tablets and larger (768px +) */
@media screen and (min-width: 768px) {

    /* Header */
    .top-nav-menu {
        display: block;
        position: relative;
        width: fit-content;
    }


}

/* 992px */


/* 1200px */