/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Tenor+Sans&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-attachment: scroll;
    /* Generic project styles */
    color: #bfb6aa;
}

/* Header */
header {
    background-color: #222426;
    font-family: 'Tenor Sans', sans-serif;
    width: 100%;
    height: 15vh;
    z-index: 99;
    text-align: center;
    position: fixed;
}

header a {
    text-decoration: none;

}

/* Main title */
h1 {
    font-family: 'Tenor Sans', sans-serif;
    color: #bfb6aa;
    letter-spacing: 2.5px;
    padding: 5px 20px;
    text-align: left;
    font-size: 110%;
}

/* Header phrase */
header div {
    font-family: 'Tenor Sans', sans-serif;
    color: #bfb6aa;
    padding: 5px;
    font-size: 80%;
    letter-spacing: 2px;
}

/* Menu bar */
.top-nav-menu {
    align-items: right;
    height: 10px;
    padding-right: 20px;
    display: flex;
    top: 0;
}

/* Hamburger menu */
.menu-toggle-container {
    height: 10%;
    width: 10%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: right;
}

.toggle {
    display: none;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: auto;
    justify-content: center;
}

.menu>li {
    font-size: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;

}

/* Main Content */
main {
    height: auto;
    width: 100%;
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    font-family: 'Raleway', sans-serif;

}

.fireworks-img {
    position: absolute;
    margin-top: 98px;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.about-us {
    position: relative;
    height: 20px;
    width: 100%;
    display: inline-block;
    margin-top: 400px;
    padding: 10%;
    border: 1px solid #222426;
    background-color: #a68f7b;
    color: #222426;
}

.photo-types {
    background-color: #a68f7b;
    color: #222426;
    border: 1px solid #222426;
    display: inline-block;
}

/* Footer */
footer {
    background-color: #222426;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4vh;
    padding: 2px 10px;
}