/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Tenor+Sans&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-attachment: scroll;
    /* Generic project styles */
    color: #bfb6aa;
}

/* Header */
header {
    background-color: #222426;
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    width: 100%;
    height: 15vh;
    z-index: 99;
    text-align: center;
}

header a {
    text-decoration: none;
}

/* Main title */
h1 {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    color: #bfb6aa;
    letter-spacing: 2.5px;
    padding: 5px 20px;
    text-align: left;
    font-size: 110%;
}

/* Header phrase */
header div {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    color: #bfb6aa;
    padding: 5px;
    font-size: 80%;
    letter-spacing: 2px;
}


.menu {
    list-style-type: none;
    display: flex;
    margin: auto;
    justify-content: center;
    letter-spacing: 2px;
}

.menu>li {
    font-size: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}

.active {
    border-bottom: 1px solid #bfb6aa;
}

/* Menu bar */
.top-nav-menu {
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: space-between;
    padding-right: 1rem;
}

#menu-toggle {
    display: none;
}

.menu-button-container {
    display: none;
    flex-direction: column;
    justify-content: right;
}

/* Hamburger menu */
.menu-toggle-container {
    height: 10%;
    width: 10%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: right;
}

.toggle {
    display: none;
}

/* Main Content */


.fireworks-img {
    width: 100%;
}

.fireworks-img img {
    display: flex;
    width: 100%;
}

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    border-bottom: 2px solid #222426;
    background-color: #a68f7b;
    color: #222426;
}

.about-us div {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*horizontal*/
    justify-content: center;
    /*vertical*/
}

.photo-types {
    background-color: #a68f7b;
    color: #222426;
    border-bottom: 2px solid #222426;
    display: flex;
    justify-content: center;
    padding: 10%;
}

.photo-types-container {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-types-phrase {
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: balance;
    text-align: center;
}

.testimonials {
    background-color: #a68f7b;
    color: #222426;
    border-bottom: 2px solid #222426;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials-container {
    font-family: 'Tenor Sans', 'Verdana', sans-serif;
    text-align: center;
    padding: 10%;
}

.carousel div {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

/* Footer */
.footer-container {
    background-color: #222426;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 4vh;
    padding: 2px 10px;

}

.social-media-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;

}


.social-media-links li {
    padding: 2px 6px;
}

/* Media query for tablets and larger (768px +) */
@media screen and (min-width: 768px) {

    /* Header */
    .top-nav-menu {
        display: block;
        position: relative;
        width: fit-content;
    }


}

/* 992px */


/* 1200px */